.content_baiviet .motram img{width: 100%;}
.content_baiviet .motram .fa,p{ font-size: 14px; margin:5px;font-family: Roboto-Regular; }
.content_detial_new{ color: black; font-size: 14px; font-family: Roboto-Regular; line-height: 30px;font-size: 14px; padding-bottom: 30px; padding-top: 30px; text-align: justify; }
.content_detial_new>p{ color: black !important; font-size: 14px;
 font-family: Roboto-Regular; font-size: 14px;  text-align: justify; }
.icon_chiase li{ display: inline-block; padding-left: 10px; padding-right: 10px;padding-bottom: 35px; }
.icon_chiase{ margin-left: -10px; }
.icon_chiase span{ color: black; }
.apax{ background: #f5f5f5; padding: 8px 8px;  color: black}
.binhluan textarea{width: 100%; margin-top: 20px; padding-bottom: 20px;}
.binhluan h6{ color: #0089cd; font-size: 15px;font-family: RobotoBold; }
.binhluan p{ color: black; font-size: 15px;margin-left: -2px; }
.hoten_inpt_d{ padding: 10px 68px 10px 10px;
    width: 96%;
    margin-top: 10px; }
.email_input_d{ padding: 10px 68px 10px 10px;
    width: 96%;
    margin-top: 10px; float: right; }
.binhluan .search_sub_new2 {
    background: #ff671b;
    padding: 12px 50px 12px 50px !important;
    color: white !important;
    border: none !important;
    /* margin-left: -4px; */
    font-family: Roboto-Regular;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 10px;
}
.search_sub_new2:hover {background: #0089cd !important;}
.binhluan .search_sub_new2:hover {
      padding: 14px 52px 14px 52px !important;
      background: #0089cd !important;
}
.muoipt{ width: 10%; float: left; }
.chinmuoi{width: 90%;
    float: left;
    border-top: 1px solid #c7c5c5;
    padding-top: 15px;
    border-bottom: 1px solid #c7c5c5;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;padding-bottom: 10px;}
.name_bl{ color: black; font-size: 14px;font-family: RobotoBold; }
.name_bl span{ color: black; font-size: 14px; font-family: Roboto-Regular; }
.likebl{ color: black;    margin-left: -4px; font-size: 13px; }
.likebl .fa{ color: black; padding-left: 5px; }
.itembinhluan{ width: 100%; float: left; }
.chitietbaiviet {
    background: white;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #dad4d4;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    float: left;
}
.chitietbaiviet .tintuc_right{padding-top: 35px;}
.title_cam{ font-size: 18px; font-family: RobotoBold; color: #ff671b;  }
.saumuoi>select{ padding: 10px; width: 80%; float: left;  display: block; margin-bottom: 20px; }
.saumuoi>input{ padding: 10px; width: 80%; float: left;  display: block; margin-bottom: 20px; }

.bonmuoi p{ color: black; font-size: 14px; }
.fa-star-o{ color: red; font-size: 10px; }
.goiytintd{ padding-left: 40%; color: black; }
.chontumaytinh{ width: 48%;
    float: right;
    background: #f5f5f5;
    /* margin: auto; */
    margin-right: 12%;
    border: 0px;
    padding: 15px;
    padding-left: 13%; }
    .hosocuaban_dtd>img{
    position: absolute;
    z-index: 2;
    padding: 10px;
    left: 40%;
    top: 44%;
    width: 24%;}
.hosocuaban_dtd{ position: relative; }
.hosocuaban_dtd h3{ display: block; position: relative; }
.ungtuyennhansu{ color: white; background: #ff671b; padding: 18px 50px;
    border: none;
    margin-left: 99px;
    margin-top: 30px;
    font-size: 15px;
    font-family: RobotoBold;}
.boqua{ background: white; font-size: 14px; border: 0px; color: #0091d9; font-family: RobotoBold; }
.hosocuaban_dtd .fa-paper-plane-o{ position: absolute; z-index: 1; top: 42px;
    left: 40%; }
.ungvientd_right div{ font-size: 14px;font-family: RobotoBold; color: black; width: 100%;
    float: left; }
.ungvientd_right .fa{ padding-left: 0px; font-size: 14px; color: #ff671b; margin-right: 10px; }
.ungvientd_right p{ color: black;padding-left: 6%;
    line-height: 30px;
    font-size: 15px; }
.ungvientd_right .dcm{ border-top: 1.5px solid #ff671b;
    width: 10%;
    float: left; margin-top: 20px; margin-bottom: 20px; width: 20%; display: block; }
.ungvientd_right .mottram{width: 100%; float: left;}

.chitietbaiviet{ width: 100%; float: left; }
.chitietbaiviet .right_85{ padding-left: 56px; }
.chitietbaiviet h5>a{ color: black; }.chitietbaiviet h5{ padding-top: 10px; font-size: 14px;font-family: RobotoBold }
.chitietbaiviet .left_15 {
    width: 15%;
    float: left;
    padding-bottom: 24px;
}
.chitietbaiviet .chinmuoi {padding-left: 18px;}
.content_detial_new img{width: 100% !important;}
.tindocnhieu span {
    background: #22459D;
    color: white;
    font-size: 14px;
    padding: 12px;
}
.tindocnhieu {
    padding-top: 30px;
    padding-bottom: 10px;
    /* padding-bottom: 25px; */
    border-bottom: 3px solid #22459D;
    margin-bottom: 25px;
}
.title_tintuc {
    margin: 0px;
    padding: 0px;
    font-family: "RobotoBold";
    font-size: 16px;
    padding-bottom: 20px;
    font-style: italic;
}
.chitietbaiviet .item_tintuc{width: 100%; float: left;border-bottom: 1px solid #cecece;
    margin-bottom: 20px;}
.mottram .ngaydang {
    font-size: 12px;
    padding-top: 0px;
    color: black;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:none;
    background: none;
}
.detail .nav>li{padding: 10px;}