.detail_pro{width: 100%; float: left;background: #f8f6f6;padding-top: 20px;padding-bottom: 20px}

.fa-angle-right{color: black; font-size: 14px;}
.img_detail_pro{width: 100%;
 float: left; border:1px solid #dedcdc; margin-top: 5px; 
 margin-bottom: 5px;padding-top: 20px;
 min-height: 490px;
}
.content_detail_pro{
    padding-top: 15px;
    padding-bottom: 15px;}
.tabs-above{width: 100%; float: left; margin-top: 5px; margin-bottom: 5px; border-left: 0px;}
.tab-content{border:1px solid #dedcdc;border-top: 0px; padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px; min-height: 300px;}
.title_detail{ font-size: 20px; font-family: "RobotoBold";margin-top: 20px; }
.trangthai >p{color: black; font-size: 13px;}
.mausac >p{color: black; font-size: 13px;}
.kichthuoc >p{color: black; font-size: 13px;}
.mausac ul li{display: inline-block;padding-left: 5px;background: #b8ef0d;margin-left: 5px;padding: 3px;}
.mausac ul li>span{ color: white;
    background: #76BA15;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;}
.kichthuoc ul li{display: inline-block;padding-left: 5px;display: inline-block;padding-left: 5px;background: #b8ef0d;margin-left: 5px;padding: 3px;}
.kichthuoc ul li>span{ color: black;
    background: #ffd600;
    /* padding: 8px; */
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    /* border-radius: 28px; */
    /* font-size: 14px; */ }
.splienquan .content{ width: 100%; float: left; border-bottom:1px solid #dedcdc;padding-top: 10px;
    padding-bottom: 10px;  }
.item_tt_sp{width: 100%; float: left; margin-top: 5px; margin-bottom: 10px;}
.shortdes{ background: #e4e4ff;
    padding: 10px;
    border-radius: 5px; }
.item_tt_sp>li>span{ background: red !important;  }
.right_70 {
    width: 70%;
    float: left;
    padding-top: 22px;
    padding-left: 20px;
}
.right_70>p { color: red; margin-top: 10px;}
.huongdanmuahang{ margin-top: 10px; }
.huongdanmuahang>p>a{ background: #ff8e16;
    padding: 10px; }
.huongdanmuahang>p>a:hover{color: white;}
.anhchitietsp>p{color: black; font-size: 14px; text-align: justify; font-family:Roboto-Regular; }
.anhchitietsp{ padding-top: 20px; padding-bottom: 20px; }
.thongtinchitietsp {padding-top: 42px;}
.thongtinchitietsp .mottram{ border: 1px solid #dedcdc;
    padding-left: 20px; padding-bottom: 20px;min-height: 494px;padding-right: 20px;}

.thongtinchitietsp .mottram .keyword{ background: #efefef;
    padding: 5px;
    border-radius: 5px;  }
.detail_pro_left{min-height: 494px;}
.xzoom-preview {
    border: 1px solid #888;
    margin-left: -10px;
    background: #2f4f4f;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
}
.x_zoom_right .baymuoi{width: 75%; float: left;padding-left: 40px;}
.x_zoom_right .bamuoi{width: 25%; float: left;padding-right: 10px;}
.column{width: 100%; float: left}
.chiase{ color: black; font-size: 14px; text-align: center }
.xzoom-thumbs>a>img{width: 95%;
    height: 81px; }
.bamuoi>p{ margin-top: 10px; margin-bottom: 10px; }
#xzoom-default{width: 90%; height: 370px;}
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

:root {
  font-size: 2em;
  font-family: Helvetica, arial, sans-serif;
}

._2tga._3e2a {
    border-radius: 15px;
    font-size: 13px;
    height: 20px;
    padding: 0 4px 0 6px;
    margin-left: 5px;
}
.img_detail_pro .vanchuyen{ padding-left: 25px;
    background: #ebe8e8;
    padding-top: 7px;
    padding-bottom: 6px;
    margin-left: 10px;
    width: 58%;}
.detail_pro .item{ background: white; }
.imfomationpro{ padding-bottom: 20px; }